.signin-page {
  .accounting {
    background: url(../images/login-background.jpg) no-repeat center center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-size: cover;

    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $background-shado;
    }
  }

  .signup-from {
    margin: auto;
    width: 420px;
    position: relative;
    padding-top: 5%;

    .signup{
      margin-bottom: 20px;
      background-color: $white;
      border-radius: 4px;
      .signup-body {
      padding: 40px 30px;
      }
    }
  }
  // @media (max-width: 767.98px){
  //   .wrapper-page {
  //     width: 90%;

  //     .text-muted {
  //       font-size: 35px;
  //     }

  //     .input-field {
  //       font-size: 35px;
  //       padding: 1.375rem 0.75rem;
  //       line-height: 2.5;
  //     }
  //     .checkbox-primary {
  //       input {
  //         width: 30px;
  //         height: 30px;
  //         cursor: pointer;
  //         margin-right: 10px
  //       } 
  //       label {
  //         font-size: 30px
  //       }
  //     } 
  //     .btn-block {
  //       font-size: 30px;
  //     }
  //   }
  // }

}
