.signin-page {
  .accounting {
    background: url(../images/login-background.jpg) no-repeat center center fixed;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .wrapper-page {
    margin: 7.5% auto;
    width: 420px;
    position: relative;

    .panel {
    border: none;
    margin-bottom: 20px;
    }
    .panel-pages {
      background-color: $white;
      border-radius: 4px;
      font-size: 15px;
      .panel-body {
      padding: 25px 30px;
      }
    }
  }
}
