
// Body
$body-bg: #f5f8fa;
$black: #000000;
$white: #ffffff;
$primary: #2d7bf4;
$secondary: #9a9a9a;
$success: #0acf97;
$info: #4eb7eb;
$warning: #f9bc0b;
$danger: #f1556c;
$purple: #777edd;
$pink: #ff679b;
$muted: #98a6ad;
$light: #e3eaef;
$light3: #f3f3f3;
$light7: #797979;
$dark: #313a46;
$other-blue: #0077b3;

$color-yellow: #e8e759;
$color-yellow-dark: #cccb1e;
$color-blue: #4444e4;
$color-blue-light: #8e8eec;
$color-blue-dark: #1818a5;
$color-blue-darkest: #0f0f6c;
$color-blue-extremely-dark: #080840;
$color-grey: #59e8b3;
$color-pink: #e17582;

$yellow: #e8e759;
$yellow-dark: #cccb1e;
$blue: #4444e4;
$blue-light: #8e8eec;
$blue-dark: #1818a5;
$blue-darkest: #0f0f6c;
$blue-extremely-dark: #080840;
$pink: #e17582;

$color-mac-and-cheese: #e8e759;
$color-royal-blue: #4444e4;
$color-turquoise-blue: #59e8b3;
$color-deep-blush: #e17582;

$error-color: #b30015;
$anchor-color: #2a00b3;
$anchor-hover-color: #0077b3;
$anchor-visited-color: #00b0b3;
$anchor-visited-blending-color: #24fbff;
$tooltip-color: #8a7dff;
$strong-color: #444;
$shadow-color: #303030;
$border-color: #292929;
$marquee-color: #111;

$yellow-green: #b0eb00;
$gray: #595959;
$dark-gray: #363636;
$light-gray: #a6a6a6;

$background-shado: rgba(0,0,0,0.66);

// Shadow
$shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
$shadow-lg: 0 0 24px 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(0, 0, 0, 0.1);
